
{% include "layout/header.html" %}
{% load staticfiles %}
<div class="col-md-6">
    <div class="well trans">
        <div class="row big-text" style="text-align: center">
            <p>Playing Field</p>
        </div>
        <hr />
        <div class="row" style="text-align: center; border-radius: 10px">
            <img src="/static/media/blueblank.png" width="100" height="140" id="blue"/>
            <img src="/static/media/redblank.png" width="100" height="140" id="red"/>
            <img src="/static/media/whiteblank.png" width="100" height="140" id="white"/>
            <img src="/static/media/yellowblank.png" width="100" height="140" id="yellow"/>
            <img src="/static/media/greenblank.png" width="100" height="140" id="green"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4 deck-font">
                    Cards:
                <input type="text" id="decksize" disabled value="{{ deckSize }}" size="2">
            </div>
            <div class="col-md-4 deck-font">
                Clues:
                <input type="text" id="clues" disabled value="{{ game.clues }}" size="2">
            </div>
            <div class="col-md-4 deck-font">
                Fuses:
                <input type="text" id="fuses" disabled value="{{ game.fuses }}" size="2">
            </div>
        </div>
    </div>
    <div class="well trans">
        <div class="row big-text" style="text-align: center">
            <p>Discard</p>
        </div>
        <hr />
        <div class="row" id="disbluelist" style="margin-bottom: 5px">
            <img src="/static/media/blueblank.png" width="70" height="100" id="disblue" />
        </div>
        <div class="row" id="disredlist" style="margin-bottom: 5px">
            <img src="/static/media/redblank.png" width="70" height="100" id="disred" />
        </div>
        <div class="row" id="diswhitelist" style="margin-bottom: 5px">
            <img src="/static/media/whiteblank.png" width="70" height="100" id="diswhite" />
        </div>
        <div class="row" id="disyellowlist" style="margin-bottom: 5px">
            <img src="/static/media/yellowblank.png" width="70" height="100" id="disyellow" />
        </div>
        <div class="row" id="disgreenlist" style="margin-bottom: 5px">
            <img src="/static/media/greenblank.png" width="70" height="100" id="disgreen" />
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="well trans">
        <div class="row big-text" style="text-align: center">
            <p>Hands</p>
        </div>
        <hr />
        {% for player in game.players %}
        <div class="row" style="text-align: center;">
            <h4 style="color: #b9c3cc;">{{ player.name }}</h4><div id="player{{ player.number }}turn"><p>My Turn</p></div>
        </div>
        <div class="row" style="text-align: center;" id="{{ player.number }}unknowncards">
            <img src="/static/media/blank.png" width="20%" height="125" id="{{ player.name }}blank1" onclick="ChangeCard(this.id, '{{ player.name }}', '{{ card }}');" />
            <img src="/static/media/blank.png" width="20%" height="125" id="{{ player.name }}blank2" onclick="ChangeCard(this.id, '{{ player.name }}', '{{ card }}');" />
            <img src="/static/media/blank.png" width="20%" height="125" id="{{ player.name }}blank3" onclick="ChangeCard(this.id, '{{ player.name }}', '{{ card }}');" />
            <img src="/static/media/blank.png" width="20%" height="125" id="{{ player.name }}blank4" onclick="ChangeCard(this.id, '{{ player.name }}', '{{ card }}');" />
        </div>
        <div class="row" style="margin-bottom: 15px; text-align: center" id="{{ player.number }}knowncards">
            {% for card in player.hand %}
                <img src="/static/media/{{ card }}.png" width="20%" height="125" id="{{ player.name }}{{ card }}" onclick="ChangeCard(this.id, '{{ player.name }}', '{{ card }}');" />
            {% endfor %}
        </div>
        <div class="row" style="text-align: center; display: none" id="{{ player.name }}options">
            <button class="btn">Hint Color</button>
            <button class="btn">Hint Number</button>
            <button class="btn" id="{{ player.name }}playbtn" onclick="PlayCard(this.id, '{{ player.name }}');" value="">Play Card</button>
            <button class="btn" id="{{ player.name }}disbtn" onclick="DiscardCard(this.id, '{{ player.name }}');">Discard</button>
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-2">
    <div class="well trans">
        <div class="row big-text" style="text-align: center">
            <p>Moves</p>
        </div>
        <hr/>
        <div id="movelist"></div>
    </div>
</div>
{% include "layout/footer.html" %}
<script type="text/javascript">
    function ChangeCard(id, name, card){
        $('#'+ id).toggleClass('smallcard bigcard');
        $('#'+name+'options').toggle(function(){});
        $('#'+name+'playbtn').attr('id', card);
        $('#'+name+'disbtn').attr('id', card);
    }
    function PlayCard(id, name){
        var color = id.substring(0, 1);
        var cnum = id.substring(1);
        if (color == 'b') {
            $('#blue').attr('src', '/static/media/'+id+'.png');
            $('#movelist').prepend("<b>"+name+"</b><p>Plays blue "+cnum+"</p><hr />");
        } else if(color == 'r') {
            $('#red').attr('src', '/static/media/'+id+'.png');
            $('#movelist').prepend("<b>"+name+"</b><p>Plays red "+cnum+"</p><hr />");
        } else if(color == 'w') {
            $('#white').attr('src', '/static/media/'+id+'.png');
            $('#movelist').prepend("<b>"+name+"</b><p>Plays white "+cnum+"</p><hr />");
        } else if(color == 'y') {
            $('#yellow').attr('src', '/static/media/'+id+'.png');
            $('#movelist').prepend("<b>"+name+"</b><p>Plays yellow "+cnum+"</p><hr />");
        } else if(color == 'g') {
            $('#green').attr('src', '/static/media/'+id+'.png');
            $('#movelist').prepend("<b>"+name+"</b><p>Plays green "+cnum+"</p><hr />");
        }
        var count = $('#decksize').val();
        $('#decksize').val(Number(count) - 1);
    }
    function DiscardCard(id, name){
        var color = id.substring(0, 1);
        var cnum = id.substring(1);
        if (color == 'b') {
            $('#disbluelist').append('<img style="margin-left: 5px" src="/static/media/'+id+'.png" width="70" height="100" id="disblue" />');
        } else if(color == 'r') {
            $('#disredlist').append('<img style="margin-left: 5px" src="/static/media/'+id+'.png" width="70" height="100" id="disred" />');
        } else if(color == 'w') {
            $('#diswhitelist').append('<img style="margin-left: 5px" src="/static/media/'+id+'.png" width="70" height="100" id="diswhite" />');
        } else if(color == 'y') {
            $('#disyellowlist').append('<img style="margin-left: 5px" src="/static/media/'+id+'.png" width="70" height="100" id="disyellow" />');
        } else if(color == 'g') {
            $('#disgreenlist').append('<img style="margin-left: 5px" src="/static/media/'+id+'.png" width="70" height="100" id="disgreen" />');
        }
        var count = $('#decksize').val();
        $('#decksize').val(Number(count) - 1);
        ChangeTurn()
    }
    function ChangeTurn(playernumber){
        if (playernumber == '4'){
            $('#player4turn').hide();
            $('#4unknowncards').hide();
            $('#player1turn').show();
            $('#1knowncards').show();
        } else {
            $('#player'+playernumber+'turn').hide();
            $('#'+playernumber+'unknowncards').hide();
            $('#'+playernumber+'knowncards').show();
            var tempplayernumber = playernumber + 1;
            $('#player'+tempplayernumber+'turn').show();
            $('#'+tempplayernumber+'knowncards').hide();
            $('#'+tempplayernumber+'unknowncards').show();
        }
    }
    $(document).ready(function(){
        $('#player2turn').hide();
        $('#player3turn').hide();
        $('#player4turn').hide();
        $('#1knowncards').hide();
        $('#2unknowncards').hide();
        $('#3unknowncards').hide();
        $('#4unknowncards').hide();
    });
</script>