{% include "layout/header.html" %}
{% load staticfiles %}
<div class="col-md-6">
    <div class="well trans">
        <div class="row big-text" style="text-align: center">
            <p>Playing Field</p>
        </div>
        <hr />
        <div class="row" style="text-align: center; border-radius: 10px">
            <img src="/static/media/blueblank.png" width="18%" height="140" id=""/>
            <img src="/static/media/redblank.png" width="18%" height="140" id=""/>
            <img src="/static/media/whiteblank.png" width="18%" height="140" id=""/>
            <img src="/static/media/yellowblank.png" width="18%" height="140" id=""/>
            <img src="/static/media/greenblank.png" width="18%" height="140" id=""/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4 deck-font">
                    Cards:
                <input type="text" id="decksize" disabled value="{{ deckSize }}" size="2">
            </div>
            <div class="col-md-4 deck-font">
                Clues:
                <input type="text" id="clues" disabled value="{{ game.clues }}" size="2">
            </div>
            <div class="col-md-4 deck-font">
                Fuses:
                <input type="text" id="fuses" disabled value="{{ game.fuses }}" size="2">
            </div>
        </div>
    </div>
    <div class="well trans">
        <div class="row big-text" style="text-align: center">
            <p>Discard</p>
        </div>
        <hr />
        <div class="row">
            <img src="/static/media/blueblank.png" width="70" height="100" />
        </div>
        <div class="row">
            <img src="/static/media/redblank.png" width="70" height="100" />
        </div>
        <div class="row">
            <img src="/static/media/whiteblank.png" width="70" height="100" />
        </div>
        <div class="row">
            <img src="/static/media/yellowblank.png" width="70" height="100" />
        </div>
        <div class="row">
            <img src="/static/media/greenblank.png" width="70" height="100" />
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="well trans">
        <div class="row big-text" style="text-align: center">
            <p>Hands</p>
        </div>
        <hr />
        {% for player in game.players %}
        <div class="row" style="text-align: center;">
            <h4 style="color: #b9c3cc;">{{ player.name }}</h4>
        </div>
        <div class="row" style="margin-bottom: 15px; text-align: center">
            {% for card in player.hand %}
                <img src="/static/media/{{ card }}.png" width="20%" height="125" id="{{ player.name }}{{ card }}" onclick="ChangeCard(this.id);" />
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-2">
    <div class="well trans" id="movelist">
        <div class="row big-text" style="text-align: center">
            <p>Moves</p>
        </div>
        <hr/>
        <div class="row">
            <h4 style="color: #b9c3cc;">aeirdnom</h4>plays 4 yellow
        </div>
        <hr />
    </div>
</div>
{% include "layout/footer.html" %}
<script type="text/javascript">
    function ChangeCard(id){
        $('#'+ id).attr('src', '/static/media/w1.png');
        $('#'+ id).attr('height', '140');
        $('#movelist').append("<p>Testing</p>");
    }
    $(document).ready(function(){
        $('#createform').hide();
        $('#joinform').hide();
        $('#create').click(function(){
            $('#createform').toggle();
        });
        $('#join').click(function(){
            $('#joinform').toggle();
        });
    });
</script>