{% include "layout/header.html" %}
{% load staticfiles %}
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="{% static 'firework_no_background.gif' %}">
          </div>
          <div class="col-md-4">
            <div class="jumbotron trans">
              <h1>Hanabi</h1>
              <h2>A co-op game for co-ol people</h2>
              <h3>Oh by the way there's fireworks</h3>
            </div>
          </div>
          <div class="col-md-4">
            <img src="{% static 'firework_no_background_flipped.gif' %}">
          </div>
        </div>
      </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <a class="btn btn-primary btn-lg btn-block">Create Game</a>
            <a href="{% url 'Hanabi:joingame' %}" type="button" class="btn btn-default btn-lg btn-block">Join Game</a>
            <a href="{% url 'Hanabi:rules' %}" class="btn btn-info btn-lg btn-block">Rules</a>
          </div>
        </div>
      </div>
    </div>

{% include "layout/footer.html" %}
