{% include "layout/header.html" %}
{% load staticfiles %}


    <div class="row" style="text-align: center">
        <div class="col-md-4">
            <img src="{% static 'firework_no_background.gif' %}">
        </div>
        <div class="col-md-4">
            <div class="jumbotron trans" style="padding-left: 60px; padding-right: 60px; border-radius: 6px">
                <h1>Hanabi</h1>
                <h2>A co-op game for co-ol people</h2>
                <h3>Oh by the way there's fireworks</h3>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{% static 'firework_no_background_flipped.gif' %}">
        </div>
    </div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <a class="btn btn-primary btn-lg btn-block" id="create" >Create Game</a>
                <div class="well trans" style="margin-top: 5px" id="createform">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="gameid">Number of Players:</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="number" id="numplayers" style="max-width: 60px !important;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="gameid">Drinking Rules:</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="checkbox" id="drink">
                        </div>
                    </div>
                    <div class="row" style="text-align: right">
                        <button class="btn">Create</button>
                    </div>
                </div>
                <a type="button" class="btn btn-default btn-lg btn-block" id="join" >Join Game</a>
                <div class="well trans" style="margin-top: 5px" id="joinform">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="gameid">Game Id:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" id="gameid">
                        </div>
                    </div>
                    <div class="row" style="text-align: right; margin-top: 10px">
                        <button class="btn">Join</button>
                    </div>
                </div>
                <a href="{% url 'Hanabi:rules' %}" class="btn btn-info btn-lg btn-block">Rules</a>
            </div>
        </div>
    </div>
</div>

{% include "layout/footer.html" %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#createform').hide();
        $('#joinform').hide();
        $('#create').click(function(){
            $('#createform').toggle();
        });
        $('#join').click(function(){
            $('#joinform').toggle();
        });
    });
</script>
