{% include "layout/header.html" %}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Personal Statistics for [User]</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Player Rating:
                            <br>Wins:
                            <br>Losses:
                            <br>Total Game Time:
                            <br>Total Moves Made:
                            <br>
                            <br>Average Moves per Game:
                            <br>Average Game Time:
                            <br>Average Move Time:
                            <br>
                            <br>Cards Played:
                            <br>Hints Given:
                            <br>
                            <br>Winning Moves Made:
                            <br>Losing Moves Made:
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

{% include "layout/footer.html" %}