body {
    background-image: url("/static/light-wooden-background.jpg");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.trans {
    background-color: rgba(105,100,100,0.5);
    border-color: rgba(105,100,100,0.0);
}

.card {
    width: 85px;
    height: 140px;
    background-size: cover;
    margin-right: 10px;
}

.deck-font {
    font-weight: bold;
    color: #b9c3cc;
    font-size: 30px;
}

.big-text {
    color: #b9c3cc;
    font-size: 30px;
}