<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hanabi</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Hanabi</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'Hanabi:landing' %}">Landing</a>
                    </li>
                    <li>
                        <a href="{% url 'Hanabi:index' %}">Game</a>
                    </li>
                    <li>
                        <a href="{% url 'Hanabi:statistics' %}">Statistics</a>
                    </li>
                    <li>
                        <a href="{% url 'Hanabi:rules' %}">Rules</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">