<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hanabi</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "Site.css" %}">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Hanabi</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'Hanabi:landing' %}">Landing</a>
                    </li>
                    <li>
                        <a href="{% url 'Hanabi:index' %}">Game</a>
                    </li>
                    <li>
                        <a href="{% url 'Hanabi:statistics' %}">Statistics</a>
                    </li>
                    <li>
                        <a href="{% url 'Hanabi:rules' %}">Rules</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-lg-1">
        &nbsp;
    </div>
    <div class="col-lg-10">

